@use "../variables/variables";

.main-title {
    margin: 0;
}

h1 {
    font-size: 45px;
    line-height: 1;
    color: variables.$primary-dark;
}

img {
    max-width: 100%;
}

.color-danger {
    color: variables.$danger;
}