.action {
    $gap: 15px;

    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: calc((100% - #{$gap} * 3) / 4);
    padding: 15px;
    text-decoration: none;
    color: black;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: $gap;
    }

    &.selected {
        border-color: #7799ff;
        background-color: #7799ff;
        color: white;
    }
}