.action-board {
    display: flex;
    gap: 30px;
    margin-top: 300px;

    &__tile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 200px;
        text-align: center;
        border: 2px solid rgba(black, .2);
        border-radius: 10px;

        span {
            opacity: .2;
            font-size: 50px;
        }
    }
}