.deck {
    $gap: 15px;

    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: calc((100% - #{$gap} * 2) / 3);
    padding: 15px;
    gap: 15px;
    text-decoration: none;
    color: black;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: $gap;
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 15px;

        &--edit {
            display: flex;
            margin-bottom: 15px;

            input {
                height: 24px;
                font-size: 22px;
                font-weight: 500;
                line-height: 1;
            }
        }
    }

    &__action {
        border: 1px solid #888888;
        border-radius: 10px;
        padding: 5px 15px;
    }
}