@use "../variables/variables";

.game {
    &__button {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: -3px;
        min-height: 80px;
        padding: 15px;
        background-color: variables.$primary;
        text-decoration: none;
        color: variables.$white;
        transition: all variables.$transition;
        box-shadow: inset 0 0 10px rgba(variables.$black, .2);

        &:hover,
        &:focus {
            color: variables.$white;
            background-color: variables.$primary-dark;
        }

        &__my-turn {
            position: absolute;
            top: 0;
            right: 15px;
            bottom: 0;
            margin: auto;
            width: 30px;
        }

        &__created-by {
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            color: rgba(variables.$white, .6);
        }
    }
}