@use "./../variables/variables";

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(variables.$white, .6);
    z-index: 100;

    &__loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: inline-block;
        width: 80px;
        height: 80px;

        &::after {
            content: " ";
            display: block;
            width: 40px;
            height: 40px;
            margin: 5px;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: black transparent black transparent;
            animation: rotate 1s linear infinite;
        }
    }
}