@use "../variables/variables";

.main-menu {
    display: inline-flex;
    height: variables.$header-height;
    list-style-type: none;

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        text-decoration: none;
        color: rgba(variables.$white, .85);
        transition: background-color variables.$transition, color variables.$transition;
        padding: 0 20px;

        &:hover,
        &:focus {
            background-color: rgba(variables.$black, .1);
            color: rgba(variables.$white, .6);
            text-shadow: 2px 0 3px rgba(variables.$black, .7);
        }

        &.router-link-active {
            background-color: rgba(variables.$black, .1);
            color: rgba(variables.$white, .6);
            text-shadow: 2px 0 3px rgba(variables.$black, .7);
        }
    }
}